---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Classical Chronicle - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    {% include ios-app.html %}
  </head>
  <body>
    {% include header.html page="home" %}
    <main>
      <div class="articles">
        {% assign sortedArticles = site.articles | reverse %}
        {% for article in sortedArticles %}
          {% if article.unlisted %}{% continue %}{% endif %}
          {% assign formatedDate = article.date | date: "%B&nbsp;%-d,&nbsp;%Y" %}
          {% include article-card.html title=article.title author=article.author  image=article.image category=article.category date=formatedDate link=article.url %}
        {% endfor %}
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
