---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Classical Chronicle - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    {% include header.html %}
    <main>
      <div class="articles">
        {% include article-card.html author="Benjamin Jewett" title="If You Want To Pass, You've Got To Cheat" image="cheating.png" category="Opinion" date="February 4, 2020" %}
        {% include article-card.html author="Yousef Nagib" title="US - Iran Tensions Escalate after Assassination of Top Iranian Security Official" image="iran.png" category="World News" date="January 1, 2020" %}
        {% include article-card.html title="INVESTIGATIVE REPORT: Purple Post Infringes on Freedoms of Speech and Peaceful Assembly" author="Nick Griffin, Yousef Nagib, Yeivin Herrera" image="purplepost.png" category="School" date="December 9, 2019" %}
      </div>
    </main>
  </body>
</html>
