---
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Classical Chronicle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://{{ site.domain }}">
    <meta property="og:title" content="The Classical Chronicle">
    <meta property="og:image" content="https://{{site.domain}}/assets/icons/rounded128.png">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="new_homepage.css">
    <!-- <script src="/assets/js/analytics.js" defer></script> -->
    <meta name="description" content="The Classical Chronicle is an independent, uncensored, and student-run newspaper at Classical High School that strives to deliver high-quality and honest journalism.">
    {% include ios-app.html %}
  </head>
  <body>
    <nav>
      {% include chronicle-logo.svg %}
    </nav>
    <div class="container">
      <main>
        {% for article in site.articles reversed %}
        {% assign accent = site.data.category-colors[article.category] %}
        <article class="big" style="margin-top: 70px;">
          <div class="tab" style="background: {{accent}}">
            Latest Article
          </div>
          <div class="intro">
            <img src="/assets/images/{{article.image}}" alt="">
            <div class="about">
              <p class="series">{{article.series}}</p>
              {% assign titlelen = article.title | size %}
              
              <p class="title{% if titlelen > 50 %} long{% endif %}">{{article.title}}</p>
              <div class="separator">{% for i in (1..6) %}{% include dots.svg %}{% endfor %}</div>
              <p class="category" style="color: {{accent}}">{{article.category}}</p>
              <p class="author">{{article.author  
                                    | join: ", " 
                                    | regex_replace:"([^,\ ]) ","\1&nbsp;"
                                }}</p>
              <p class="date">{{article.date | date: "%B&nbsp;%-d,&nbsp;%Y"}}</p>
            </div>
          </div>
          <p class="preview">{{ article.content | strip_html | truncatewords: 150 }}</p>
          <a href="/article/{{article.slug}}" class="read-more">Read More ></a>
        </article>
        {% endfor %}
      </main>
    </div>

  </body>
</html>
