---
---
body {
  margin: 0;
  font-family: "Source Sans", sans-serif;
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}
@font-face {
  font-family: "Source Sans";
  src: url("/fonts/sourcesans-regular.woff2") format("woff2"),
       url("/fonts/sourcesans-regular.woff") format("woff"),
       url("/fonts/sourcesans-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Source Sans";
  src: url("/fonts/sourcesans-italic.woff2") format("woff2"),
       url("/fonts/sourcesans-italic.woff") format("woff"),
       url("/fonts/sourcesans-italic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Source Sans";
  src: url("/fonts/sourcesans-bold.woff2") format("woff2"),
       url("/fonts/sourcesans-bold.woff") format("woff"),
       url("/fonts/sourcesans-bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Source Sans";
  src: url("/fonts/sourcesans-semibold.woff2") format("woff2"),
       url("/fonts/sourcesans-semibold.woff") format("woff"),
       url("/fonts/sourcesans-semibold.ttf") format("truetype");
  font-weight: 500;
}
body {
  background: #F4F6FA;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0px 40px;
  @media (max-width: 850px) {
    padding: 0px 5px;
  }
}
@media (max-width: 1500px) {
  
}
nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.desktop-nav {
  background: #613D8F;
  width: 100%;
  max-width: 1300px;
  height: 115px;

  padding: 30px;
  box-sizing: border-box;
  align-items: center;
  margin: 30px 40px 0px 40px;
  margin-top: 30px;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 8px 0px #00000088;

  display:flex;
  gap: 31px;
  @media (max-width: 850px) {
    height: 70px;
    margin: 5px 5px 0px 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (min-width: 950px) {
    padding: 30px;
  }
  
  a:first-child {
    display: flex;
    transition: transform 0.3s ease;
    @media (min-width: 1150px) {
      display: none;
    }
    &:hover {
      transform: scale(1.02);
    }
    svg {
      @media (max-width: 850px) {
        width: 40px;
      }
      fill: white;
      width: 50px;
    }
  }
  a:nth-child(2) {
    display: flex;
    flex-shrink: 1;
    max-width: 500px;
    width: 100%;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.02);
    }
    @media (max-width: 1150px) {
      display: none;
    }
    >svg {
      fill: white;
    }
  }
  a {
    color: white;
    text-decoration: none;
    font-size: 29px;
    @media (max-width: 850px) {
      font-size: 25px;
    }
    @media (max-width: 665px) {
      display: none;
    }
    &:hover {
      text-decoration: underline;
    }
    &.first {
      margin-left: auto;
    }
    &:last-of-type {
      background: white;
      color: #613d8f;
      padding: 4px 9px;
      border-radius: 6px;
      font-weight: 500;
    }
    &.current {
      font-weight: bold;
    }
    &.disabled {
      opacity: 0.4;
      cursor: help;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .hamburger {
    display: none;
    fill: white;
    width: 45px;
    margin-left: auto;
    transition: transform 0.25s ease, opacity 0.25s ease;
    user-select: none;
    @media (max-width: 665px) {
      display: block;
    }
    &:hover {
      opacity: 0.8;
    }
    @media (any-pointer: coarse) {
      &:hover {
        transform: scale(0.92);
      }
    }
    &:active {
      transform: scale(0.92);
    }
  }
}
#mobile-nav-toggle {
  position: absolute;
  opacity: 0;
}
#mobile-nav-toggle:not(:checked) {
  ~ .mobile-nav {
    pointer-events: none;
    div {
      transform: translateX(-100vw);
    }
    .dimmer {
      opacity: 0;
    } 
  }
}
.mobile-nav {
  @media (min-width: 665px) {
    display: none;
  }
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  // max-height: -webkit-fill-available;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  div {
    transition: transform 0s ease;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #613D8F;
    padding: 21px 25px;
    border-radius: 0px 20px 20px 0px;
    box-sizing: border-box;
    max-width: 400px;
    gap: 20px;
  }
  svg {
    width: 40px;
    fill: white;
    align-self: flex-start;
  }
  a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    &:first-of-type {
      margin-top: 20px;
    }
    &:hover {
      text-decoration: underline;
    }
    &.current {
      font-weight: bold;
    }
    &.disabled {
      opacity: 0.4;
      cursor: help;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .dimmer {
    background: #08000840;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    transition: opacity 0.3s ease;
  }
}
a.disabled {
  opacity: 0.4;
  cursor: help;
  &:hover {
    text-decoration: none !important;
  }
}
main {
  //padding: 40px 50px;
  max-width: 1300px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
article.big {
  display: flex;
  height: 350px;
  border-radius: 20px;
  position: relative;
  margin-top: 55px;
  margin-bottom: 20px;
  max-width: 90vw;
  @media (max-width: 760px) {
    height: unset;
  }
  .tab {
    position: absolute;
    top: -40px;
    left: 0px;
    background: #3D68C2;
    color: white;
    padding: 5px 15px 20px 15px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
  }
  .intro {
    @media (max-width: 760px) {
      flex-direction: column;
      width: 100%;
      max-width: 350px;
      div.about {
        box-sizing: border-box;
        padding: 15px 20px 0px 20px;
        .separator {
          display: none;
        }
      }
    }
    display: flex;
    //background: white;
    color:white;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0px 0px 15px -6px #00000088;
    z-index: 1;
    width: 700px;
    transition: transform 0.25s ease;
    &:hover {
      transform: scale(1.03);
      .title {
        text-decoration: underline;
      }
    }
    img {
      max-width: 350px;
      overflow: hidden;
      border-radius: 20px;
      margin-right: 20px;
      flex-shrink: 0;
      object-fit: cover;
      box-shadow: 0px 0px 15px -6px #00000088;
      aspect-ratio: 1 / 1;
      @media (max-width: 760px) {
        margin: 0;
      }
    }

    .about {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      padding-right: 20px;
      padding-top: 13px;
      width: 100%;
      color: white;
      border-radius: 20px;
      background: inherit;
      .separator {
        flex-grow: 1;
        width: 96%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        opacity: 0.3;
        // Kinda hacky way to make rows of dots disappear (wrapped out of view) when there isn't enough room.
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 5px;
        align-items: center;
        svg {
          flex-shrink: 0;
          margin-top: 6px;
          margin-bottom: 6px;
          fill: #fff;
          &:nth-child(2n) {
            transform: translateX(17px);
          }
        }
      }
      p {
        margin:0;
      }
      .series {
        font-weight: bold;
        font-size: 20px;
      }
      .title {
        font-size: 39px;
        font-weight: bold;
        color: white;
        overflow-wrap: break-word;
        &.long {
          font-size: 30px;
        }
      }
      .category {
        font-size: 22px;
        color: white;
        font-weight: 500;
        position: relative;
        background: inherit;
        // Small element to cover up separator dots if they get cronched
        &:before {
          position: absolute;
          content: "";
          background: inherit;
          width: 100%;
          height: 9px;
          top: -6px;
        }
        @media (max-width: 760px) {
          &:before {
            display: none;
          }
        }
      }
      .author {
        font-size: 27px;
        font-weight: bold;
      }
      .date {
        margin-bottom: 20px;
        font-size: 22px;
      }
    }
  }
  .preview {
    @media (max-width: 1050px) {
      display: none;
    }
    flex: 1;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 15px -6px #00000088;
    margin: 0 0 0 -40px;
    z-index: 0;
    padding: 20px 20px 20px 60px;
    box-sizing: border-box;
    font-size: 23px;
    overflow: hidden;
    position: relative;
    min-width: 200px;
    span {
      font-weight: bold;
    }
    &:after {
      content: "";
      width: calc(100% - 60px);
      background: linear-gradient(0deg, white 0%, white 20%, rgba(255,255,255,0.97) 50%, rgba(255,255,255,0) 100%);
      height: 6.1em;
      position: absolute;
      right: 0;
      bottom: 0;
      border-radius: 0 0 20px 0;
    }
  }
  .read-more {
    @media (max-width: 1050px) {
      display: none;
    }
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    font-weight: bold;
  }
}
.article-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0px;
  align-items: center;
  justify-content: center;
}
.article-small {
	display: flex;
	position: relative;
  background: white;
	width: 500px;
  min-width: 500px;
  max-width: 650px;
  flex: 1;
	padding: 12px;
	box-shadow: 1px 1px 15px -5px #00000088;
	border-radius: 14px;
  font-size: 20px;
  color: black;
  text-decoration: none;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  @media (max-width: 550px) {
    width: unset;
    min-width: unset;
  }
	img {
		width: 110px;
		height: 110px;
		border-radius: 10px;
		outline: none;
		border: none;
		margin-right: 10px;
		object-fit: cover;
    box-sizing: border-box;
	}
	div {
		display: flex;
		flex-direction: column;
	}
	.separator {
		flex-grow: 1;
	}
  &:hover {
    transform: translateY(-4px);
    box-shadow: 1px 4px 15px -5px #00000088;
    .title {
      text-decoration: underline;
    }
  }
	.title {
		font-weight: bold;
		font-size: 21px;
    color: black;
	}
	p {
		margin: 0;
		font-size: 19px;
	}
  .author {
    font-weight: 600;
  }
	.category {
		position: absolute;
		right: 8px;
		bottom: 8px;
	}
}
.category-divider {
  display: flex;
  align-items: baseline;
  width: 100%;
  h1 {
    margin:0px;
    margin-right: 20px;
    font-size:38px;
    @media (max-width: 500px) {
      font-size: 28px;
    }
  }
  hr {
    border-width: 4px;
    border-style:solid;
    border-radius:20px;
    flex-grow:1;
    height:0px;
  }
  a {
    text-decoration:none;
    margin:0px;
    margin-left: 20px;
    font-size:28px;
    font-weight:600;
    @media (max-width: 500px) {
      font-size: 22px;
    }
    &:hover {
      text-decoration: underline;
    }

  }
}