---
---
body {
  margin: 0;
  font-family: "Source Sans Pro";
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}
body {
  background: #F4F6FA;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1500px) {
  
}
nav {
  background: #613D8F;
  width: 100%;
  max-width: 1300px;
  height: 115px;

  padding: 40px;
  box-sizing: border-box;
  align-items: center;

  margin-top: 30px;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 8px 0px #00000088;

  display:flex;
  gap: 31px;

  svg {
    fill: white;
    width: 500px;
  }
  a {
    color: white;
    text-decoration: none;
    font-size: 29px;
    &:hover {
      text-decoration: underline;
    }
    &:first-of-type {
      margin-left: auto;
    }
    &:last-child {
      padding: 8px 13px;
      background-color: white;
      color: #613d8f;
      border-radius: 8px;
      font-weight: 500;
    }
  }
}

main {
  //padding: 40px 50px;
  max-width: 1300px;
  margin-bottom: 40px;
}
article.big {
  display: flex;
  height: 350px;
  border-radius: 20px;
  position: relative;
  // margin-top: 65px;
  margin-top: 40px;
  margin-bottom: 20px;
  .tab {
    display: none;
    position: absolute;
    top: -40px;
    background: #3D68C2;
    color: white;
    padding: 5px 15px 20px 15px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
  }
  .intro {
    display: flex;
    //background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 15px -6px #00000088;
    z-index: 1;
    width: 700px;
    img {
      width: 350px;
      overflow: hidden;
      border-radius: 20px;
      margin-right: 20px;
      flex-shrink: 0;
      object-fit: cover;
      box-shadow: 0px 0px 15px -6px #00000088;
    }

    .about {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      padding-right: 20px;
      padding-top: 13px;
      width: 100%;
      color: white;
      border-radius: 20px;
      background: inherit;
      .separator {
        flex-grow: 1;
        width: 96%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        opacity: 0.3;
        // Kinda hacky way to make rows of dots disappear (wrapped out of view) when there isn't enough room.
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 5px;
        align-items: center;
        svg {
          flex-shrink: 0;
          margin-top: 6px;
          margin-bottom: 6px;
          fill: #fff;
          &:nth-child(2n) {
            transform: translateX(17px);
          }
        }
      }
      p {
        margin:0;
      }
      .series {
        font-weight: bold;
        font-size: 20px;
      }
      .title {
        font-size: 39px;
        font-weight: bold;
        color: white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
        &.long {
          font-size: 30px;
        }
      }
      .category {
        font-size: 22px;
        color: white;
        font-weight: 500;
        position: relative;
        background: inherit;
        // Small element to cover up separator dots if they get cronched
        &:before {
          position: absolute;
          content: "";
          background: inherit;
          width: 100%;
          height: 9px;
          top: -6px;
        }
      }
      .author {
        font-size: 27px;
        font-weight: bold;
      }
      .date {
        margin-bottom: 20px;
        font-size: 22px;
      }
    }
  }
  .preview {
    @media (max-width: 1050px) {
      display: none;
    }
    flex: 1;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 15px -6px #00000088;
    margin: 0 0 0 -40px;
    z-index: 0;
    padding: 20px 20px 20px 60px;
    box-sizing: border-box;
    font-size: 23px;
    overflow: hidden;
    position: relative;
    min-width: 200px;
    span {
      font-weight: bold;
    }
    &:after {
      content: "";
      width: calc(100% - 60px);
      background: linear-gradient(0deg, white 0%, white 20%, rgba(255,255,255,0.97) 50%, rgba(255,255,255,0) 100%);
      height: 6.1em;
      position: absolute;
      right: 0;
      bottom: 0;
      border-radius: 0 0 20px 0;
    }
  }
  .read-more {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #7040ae;
  }
}
.article-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
}
article:not(.big) {
	display: flex;
	position: relative;
	width: 500px;
  flex: 1;
	padding: 12px;
	box-shadow: 1px 1px 15px -5px #00000088;
	border-radius: 14px;
  font-size: 20px;
  height: 110px;
	img {
		width: 110px;
		height: 110px;
		border-radius: 10px;
		outline: none;
		border: none;
		margin-right: 10px;
		object-fit: cover;
    box-sizing: border-box;
	}
	>div {
		display: flex;
		flex-direction: column;
	}
	.separator {
		flex-grow: 1;
	}
	.title {
		font-weight: 600;
		font-size: 21px;
    color: black;
    text-decoration: none;
    &.short {
      font-size: 25px;
    }
    &:hover {
      text-decoration: underline;
    }
	}
	p {
		margin: 0;
		font-size: 19px;
	}
  .author {
    font-weight: bold;
  }
	.category {
		position: absolute;
		right: 8px;
		bottom: 8px;
	}
}