---
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Classical Chronicle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://{{ site.domain }}">
    <meta property="og:title" content="The Classical Chronicle">
    <meta property="og:image" content="https://{{site.domain}}/assets/icons/rounded128.png">
    <meta property="og:type" content="website">
    <link rel="preload" href="/fonts/sourcesans-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/sourcesans-bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/sourcesans-semibold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="new_homepage.css">
    <!-- <script src="/assets/js/analytics.js" defer></script> -->
    <meta name="description" content="The Classical Chronicle is an independent, uncensored, and student-run newspaper at Classical High School that strives to deliver high-quality and honest journalism.">
    {% include ios-app.html %}
  </head>
  <body>
    {% include header.html page="home" %}
    
    <div class="container">
      <main>
        {% assign article = site.articles | last %}
        {% assign accent = site.data.category-colors[article.category] %}
        <article class="big">
          <div class="tab" style="background: {{accent}}">
            Latest Article
          </div>
          <a class="intro" style="background: {{accent}}" href="{{article.url}}">
            <img src="/assets/images/{{article.image}}" alt="">
            <div class="about">
              <p class="series">{{article.series}}</p>
              {% assign titlelen = article.title | size %}
              <p href="/article/{{article.slug}}" class="title{% if titlelen > 50 %} long{% endif %}">{{article.title}}</p>
              <div class="separator">{% for i in (1..6) %}{% include dots.svg %}{% endfor %}</div>
              <p class="category">{{article.category}}</p>
              <p class="author">{{article.author  
                                    | join: ", " 
                                    | regex_replace:"([^,\ ]) ","\1&nbsp;"
                                }}</p>
              <p class="date">{{article.date | date: "%B&nbsp;%-d,&nbsp;%Y"}}</p>
            </div>
          </a>
          <p class="preview">{{ article.content | strip_html | truncatewords: 150 }}</p>
          <a href="/article/{{article.slug}}" class="read-more" style="color:{{accent}}">Read More ></a>
        </article>

          {% for category in site.data.category-colors %}
          <div class="category-divider">
            <h1 style="color:{{category[1]}}">{{ category[0] }}</h1>
            <hr style="border-color:{{category[1]}};background:{{category[1]}}">
            <a style="color:{{category[1]}}" class="disabled" title="Archive Coming Soon!">See More ></a>
          </div>
          {% assign articles = site.articles | pop | where: "category", category[0] | reverse | slice: 0, 4 %}
            <div class="article-group">
            {% for article in articles %}
            {% assign titlelen = article.title | size %}
              <a class="article-small" href="/article/{{article.slug}}">
                <img src="/assets/images/{{article.image}}" alt="">
                <div>
                  {% if article.series %} 
                    {% assign title = article.series | append: " " | append: article.title %}
                  {% else %}
                    {% assign title = article.title %}
                  {% endif %}
                  <p class="title{% if titlelen < 40 %} short{% endif %}">{{title}}</p>
                  <div class="separator"></div>
                  <p class="author">{{article.author  
                                        | join: ", " 
                                        | regex_replace:"([^,\ ]) ","\1&nbsp;"
                                    }}</p>
                  <p class="date">{{article.date | date: "%B&nbsp;%-d,&nbsp;%Y"}}</p>
                </div>
              </a>
            {% endfor %}
            </div>
          {% endfor %}

      </main>
    </div>

  </body>
</html>
