---
---

// {% include base.scss %}
// {% include header-full.scss %}
// {% include text-base.scss %}

.tip {
  font-style: italic;
  text-indent: 0;
}
p>span {
  font-style: italic;
}

.subtle {
  color: #999;
  a {
    color: #9a8fa8;
  }
}
.submit-loud {
  text-align: center;
  margin: 26px auto;
  a {
    background-color: #613d8f;
    color: white;
    padding: 8px 16px;
    font-size: 30px;

    text-align: center;
    border-radius: 5px;
  }
}
