---
---

// {% include base.scss %}
// {% include header-full.scss %}
// {% include text-base.scss %}

.tip {
  font-style: italic;
  text-indent: 0;
}
p>span {
  font-style: italic;
}

.subtle {
  color: #999;
  a {
    color: #9a8fa8;
  }
}
