---
---
@font-face {
  font-family: "Source Sans";
  src: url("/fonts/sourcesans-regular.woff2") format("woff2"),
       url("/fonts/sourcesans-regular.woff") format("woff"),
       url("/fonts/sourcesans-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Source Sans";
  src: url("/fonts/sourcesans-italic.woff2") format("woff2"),
       url("/fonts/sourcesans-italic.woff") format("woff"),
       url("/fonts/sourcesans-italic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Source Sans";
  src: url("/fonts/sourcesans-bold.woff2") format("woff2"),
       url("/fonts/sourcesans-bold.woff") format("woff"),
       url("/fonts/sourcesans-bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Source Sans";
  src: url("/fonts/sourcesans-semibold.woff2") format("woff2"),
       url("/fonts/sourcesans-semibold.woff") format("woff"),
       url("/fonts/sourcesans-semibold.ttf") format("truetype");
  font-weight: 500;
}
body {
  background-color: #613D8F;
  color: white;
  font-family: "Source Sans Pro", "Source Sans";
  display: flex;
  justify-content: center;
  max-width: 400px;
  box-sizing: border-box;
  margin: 0;
}
@keyframes pulse {
  from { opacity: 1;}
  50% {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-out-in {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  45% {
    opacity: 0;
    transform: translateY(-20px);
  }
  55% {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
h1 {
  margin-bottom: 8px;
}
p {
  font-size: 20px;
  color: #C7B8D9;
}
.transition {
  animation: pulse 4s ease infinite;
}
main {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  // max-width: 400px;
  box-sizing: border-box;
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  align-items: center;
  div {
    max-width: 400px;
    width: 100%;
  }
}
#simTime {
  font-size: 30px;
  margin:0;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 16px;
}

.nonPeriodText {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  animation: slide-in 1s ease;
  animation-fill-mode: backwards;
  &.hidden {
    display: none;
  }
  &.out {
    animation: slide-out 1s ease;
  }
}
#salutationHeader {
  font-size: 46px;
}
#salutationSubtext {
  font-size: 27px;
  margin: 0;
}
#salutationTime {
  font-size: 27px;
  margin: 0;
  font-weight: bold;
}
.currentPeriodSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  &.hidden {
    display: none;
  }
  &.in {
    animation: slide-in 1s ease;
  }
  &.swap {
    animation: slide-out-in 2s ease;
  }
}
#currentPeriod {
  text-align: center;
  font-size: 62px;
  margin-top: 0;
}
#currentPeriodSubtext {
  margin: -10px 0px 12px 0px;
  font-weight: bold;
  font-size: 25px;
}
#currentPeriodSchedule {
  font-size: 27px;
  margin: 10px 0px 0px 0px;
}
#currentPeriodLeft {
  font-size: 27px;
  font-weight: bold;
  margin: 0px;
}
#nextPeriodSectionWrapper {
  border-top: 2px solid #A18ABD;
  &.hidden {
    display: none;
  }
}
.nextPeriodSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  &.hidden {
    display: none;
  }
  &.swap {
    animation: slide-out-in 2s ease;
  }
}
#nextPeriod {
  color: #A18ABD;
  font-weight: 600;
  margin: 10px 0 0 0;
  font-size: 42px;
}
#nextPeriodIn {
  font-weight: bold;
  font-size: 25px;
  margin-top: 0px;
}
progress {
  appearance: none;
  height: 12px;
  width: 100%;
  border-radius: 6px;
  padding: 0px 25px;
}
progress::-webkit-progress-bar {
  background-color: #280d4c;
  border-radius: 6px;
}
progress::-webkit-progress-value {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 1px 3px 0px #fff;
}
