{% assign article = include.article %}<a class="article-small" href="/article/{{article.slug}}">
  <img src="/assets/images/{{article.image}}" alt="">
  <div>
    {% if article.series %} 
      {% assign title = article.series | append: " " | append: article.title %}
    {% else %}
      {% assign title = article.title %}
    {% endif %}
    <p class="title">{{title}}</p>
    <div class="separator"></div>
    <p class="author">{{article.author  
                          | join: ", " 
                          | regex_replace:"([^,\ ]) ","\1&nbsp;"
                      }}</p>
    <p class="date">{{article.date | date: "%B&nbsp;%-d,&nbsp;%Y"}}</p>
  </div>
</a>