/* article-card.scss */

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  grid-gap: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 0px 30px;
  justify-content: center;
}

.card {
  width: 280px;
  height: 380px;
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 2px 10px -6px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 7px 10px -6px;
  }
  &:hover h1 {
    text-decoration: underline;
  }
  a {
    text-decoration: none;
    color: #1A1A1A;
  }
  img {
    height: 190px;
    width: 100%;
    display: block;
    background-color: #D5648C;
  }
  .bottom {
    padding: 15px 22px;
    position: relative;
    height: 190px;
    box-sizing: border-box;
    h1 {
      margin: 0px;
      font-size: 18px;
      font-weight: 500;
    }
    .info {
      position: absolute;
      bottom: 15px;
      p {
        margin:1px 0px;
        font-size: 14px;
      }
      .category {
        font-weight: bold;
        color: #9B9BA2;
        text-transform: uppercase;
      }
      .author {
        font-weight: 500;
        font-size: 13px;
      }
      .date {
        color: #9B9BA2;
      }
    }
  }
}
