/* base.scss */
@font-face {
  font-family: "Source Sans";
  src: url("/fonts/sourcesans-regular.woff2") format("woff2"),
       url("/fonts/sourcesans-regular.woff") format("woff"),
       url("/fonts/sourcesans-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Source Sans";
  src: url("/fonts/sourcesans-italic.woff2") format("woff2"),
       url("/fonts/sourcesans-italic.woff") format("woff"),
       url("/fonts/sourcesans-italic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Source Sans";
  src: url("/fonts/sourcesans-bold.woff2") format("woff2"),
       url("/fonts/sourcesans-bold.woff") format("woff"),
       url("/fonts/sourcesans-bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Source Sans";
  src: url("/fonts/sourcesans-semibold.woff2") format("woff2"),
       url("/fonts/sourcesans-semibold.woff") format("woff"),
       url("/fonts/sourcesans-semibold.ttf") format("truetype");
  font-weight: 500;
}
@keyframes fadeinmain {
  from {
    opacity: 0;
  }
}
.back-to-top {
	display: inline-flex;
	align-items: center;
  position: absolute;
  right: 0px;
  margin-bottom: 20px;
  margin-right: 20px;
	svg {
		width: 40px;
		height: 40px;
    fill: #613d8f;
	}
	p {
		margin: 0px 8px 0px 0px;
    color: #7c4cba;
    font-size: 22px;
    padding-bottom: 1px;
	}
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  background-color: #f4f6fa;
  font-family: "Source Sans";
  position: relative;
  // position: fixed;
  width: 100vw;
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}
main {
  margin: 0px;
  padding-top:1px;
  animation: fadeinmain 0.7s ease;
  animation-fill-mode: backwards;
  @media (min-width: 730px) {
    animation-delay: 0.7s;
  }
}
