/* base.scss */
@font-face {
  font-family: "Source Sans";
  src: url("/fonts/sourcesans-regular.woff2") format("woff2"),
       url("/fonts/sourcesans-regular.woff") format("woff"),
       url("/fonts/sourcesans-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Source Sans";
  src: url("/fonts/sourcesans-italic.woff2") format("woff2"),
       url("/fonts/sourcesans-italic.woff") format("woff"),
       url("/fonts/sourcesans-italic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Source Sans";
  src: url("/fonts/sourcesans-bold.woff2") format("woff2"),
       url("/fonts/sourcesans-bold.woff") format("woff"),
       url("/fonts/sourcesans-bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Source Sans";
  src: url("/fonts/sourcesans-semibold.woff2") format("woff2"),
       url("/fonts/sourcesans-semibold.woff") format("woff"),
       url("/fonts/sourcesans-semibold.ttf") format("truetype");
  font-weight: 500;
}
body {
  margin: 0px;
  width: 100vw;
  overflow-x: hidden;
  background-color: #f4f6fa;
  font-family: "Source Sans";
}
