// new-header.scss
nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.desktop-nav {
  background: #613D8F;
  width: 100%;
  max-width: 1300px;
  height: 115px;

  padding: 30px;
  box-sizing: border-box;
  align-items: center;
  margin: 30px 40px 0px 40px;
  margin-top: 30px;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 8px 0px #00000088;

  display:flex;
  gap: 31px;
  @media (max-width: 850px) {
    height: 70px;
    margin: 5px 5px 0px 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (min-width: 950px) {
    padding: 30px;
  }
  
  a:first-child {
    display: flex;
    transition: transform 0.3s ease;
    @media (min-width: 1150px) {
      display: none;
    }
    &:hover {
      transform: scale(1.02);
    }
    svg {
      @media (max-width: 850px) {
        width: 40px;
      }
      fill: white;
      width: 50px;
    }
  }
  a:nth-child(2) {
    display: flex;
    flex-shrink: 1;
    max-width: 500px;
    width: 100%;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.02);
    }
    @media (max-width: 1150px) {
      display: none;
    }
    >svg {
      fill: white;
    }
  }
  a {
    color: white;
    text-decoration: none;
    font-size: 29px;
    @media (max-width: 850px) {
      font-size: 25px;
    }
    @media (max-width: 665px) {
      display: none;
    }
    &:hover {
      text-decoration: underline;
    }
    &.first {
      margin-left: auto;
    }
    &:last-of-type {
      background: white;
      color: #613d8f;
      padding: 4px 9px;
      border-radius: 6px;
      font-weight: 500;
    }
    &.current {
      font-weight: bold;
    }
    &.disabled {
      opacity: 0.4;
      cursor: help;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .hamburger {
    display: none;
    fill: white;
    width: 45px;
    margin-left: auto;
    transition: transform 0.25s ease, opacity 0.25s ease;
    user-select: none;
    @media (max-width: 665px) {
      display: block;
    }
    &:hover {
      opacity: 0.8;
    }
    @media (any-pointer: coarse) {
      &:hover {
        transform: scale(0.92);
      }
    }
    &:active {
      transform: scale(0.92);
    }
  }
}
#mobile-nav-toggle {
  position: absolute;
  opacity: 0;
}
#mobile-nav-toggle:not(:checked) {
  ~ .mobile-nav {
    pointer-events: none;
    div {
      transform: translateX(-100vw);
    }
    .dimmer {
      opacity: 0;
    } 
  }
}
.mobile-nav {
  @media (min-width: 665px) {
    display: none;
  }
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  // max-height: -webkit-fill-available;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  div {
    transition: transform 0s ease;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #613D8F;
    padding: 21px 25px;
    border-radius: 0px 20px 20px 0px;
    box-sizing: border-box;
    max-width: 400px;
    gap: 20px;
  }
  svg {
    width: 40px;
    fill: white;
    align-self: flex-start;
  }
  a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    &:first-of-type {
      margin-top: 20px;
    }
    &:hover {
      text-decoration: underline;
    }
    &.current {
      font-weight: bold;
    }
    &.disabled {
      opacity: 0.4;
      cursor: help;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .dimmer {
    background: #08000840;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    transition: opacity 0.3s ease;
  }
}