<nav>
  <input type="checkbox" aria-hidden="true" id="mobile-nav-toggle" tabindex="-1">
  <div class="mobile-nav">
    <div>
      {% include logo-letter.svg %}
      <a href="/" {% if include.page == 'home' %}class="current"{% endif %}>Home</a>
      <a href="/about" {% if include.page == 'about' %}class="current"{% endif %}>About</a>
      <a href="/clubs" {% if include.page == 'clubs' %}class="current"{% endif %}>Clubs</a>
      <a href="/archive" {% if include.page == 'archive' %}class="current"{% endif %}>Archive</a>
      <a href="/submit" {% if include.page == 'submit' %}class="current"{% endif %}>Submit</a>
      <a href="/schedule/">Schedule</a>
    </div>
    <label class="dimmer" for="mobile-nav-toggle"></label>
  </div>
  <div class="desktop-nav">
    <a href="/">
    {% include logo-letter.svg %}
    </a>
    <a href="/">
    {% include logo-shortened.svg %}
    </a>
    <a href="/" class="first{% if include.page == 'home' %} current{% endif %}">Home</a>
    <a href="/about" {% if include.page == 'about' %}class="current"{% endif %}>About</a>
    <a href="/clubs" {% if include.page == 'clubs' %}class="current"{% endif %}>Clubs</a>
    <a href="/archive" {% if include.page == 'archive' %}class="current"{% endif %}>Archive</a>
    <a href="/submit" {% if include.page == 'submit' %}class="current"{% endif %}>Submit</a>
    <a href="/schedule/">Schedule</a>
    <label class="hamburger" for="mobile-nav-toggle">
      <svg viewBox="0 0 39 32">
        <path d="M36 0H3C1 0 0 1 0 3s1 3 3 3h33c2 0 3-1 3-3s-1-3-3-3zM36 13H3c-2 0-3 1-3 3s1 3 3 3h33c2 0 3-1 3-3s-1-3-3-3zM36 26H3c-2 0-3 1-3 3s1 3 3 3h33c2 0 3-1 3-3s-1-3-3-3z"/>
      </svg>
    </label>
  </div>
  {% assign announcement = site.data.announcement %}
  {% if announcement.enabled %}
  <div class="announcement{% if include.page != 'home' && announcement.enabled %} hidden{% endif %} {{ announcement.type }}">
    <div>
    {% if announcement.icon == "megaphone" %}<svg viewBox="0 0 24 24"><path d="M12,8H4A2,2 0 0,0 2,10V14A2,2 0 0,0 4,16H5V20A1,1 0 0,0 6,21H8A1,1 0 0,0 9,20V16H12L17,20V4L12,8M21.5,12C21.5,13.71 20.54,15.26 19,16V8C20.53,8.75 21.5,10.3 21.5,12Z"/></svg>{% endif %}
    <p>{{ announcement.message | markdownify}}</p>
    {% if announcement.link %}<a href="{{ announcement.link }}" target="__blank" rel="noopener">Go<svg viewBox="0 0 13.01 21.21"><polygon points="12.73 10.46 10.75 8.48 2.26 0 0 2.26 8.48 10.75 0.28 18.95 2.55 21.21 13.01 10.75 12.73 10.46"/></svg></a>{% endif %}
    </div>
  </div>
  {% endif %}
</nav>