---
---
// {% include base.scss %}
// {% include header.scss %}

main {
  padding: 0px 20px;
  margin-bottom: 50px;
  h1 {
    color: #613D8F;
    max-width: 850px;
    margin: 1em auto 0px auto;
  }
  .info {
    max-width: 850px;
    margin: 0 auto;
    .department {
      font-weight: bold;
      font-size: 19px;
      color: #363636;
    }
    .icon-pair {
      margin: 15px;
      display: flex;
      font-size: 19px;
      svg {
        margin-right: 8px;
        width: 22px;
        height: 24px;
        fill: #613d8f;
      }
      p {
        margin: 0;
      }
      a {
        color: #613D8F;
        text-decoration: none;
        font-size: 19px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}