---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>About Us - Classical Chronicle</title>
    <link rel="stylesheet" href="about.css">
    <link rel="canonical" href="https://{{ site.domain }}/about">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/assets/js/analytics.js" defer></script>
  </head>
  <body>
    {% include header.html page="about" %}
    <main>
      <h1 class="about-us">About Us</h1>
      <div class="summary-container">
        <p class="summary">The Classical Chronicle is an independent, uncensored, and student-run paper that strives to deliver high-quality and honest journalism. Founded in 2019 by a group of concerned students, the Chronicle is dedicated to serving the Classical Community. We welcome everyone to contribute! Check out our "Submit an Article" tab for more information. To check out how we run, check out our <a href="/bylaws">Bylaws</a>.</p>
      </div>
      <h1 class="contributors-title">Contributors</h1>
      <div class="contributors">
        {% assign sortedContributors = site.contributors | sort: 'order' %}
        {% for contributor in sortedContributors %}
          {% if contributor.past %} {% continue %} {% endif %}
          <div class="contributor">
            <a href="/contributor/{{ contributor.contributorName | slugify }}">{{ contributor.contributorName }}</a>
            <p>{{ contributor.position }}</p>
          </div>
        {% endfor %}
      </div>
      <h1 class="contributors-title">Past Contributors</h1>
      <div class="contributors">
        {% assign sortedContributors = site.contributors | sort: 'order' | where: "past", true %}
        {% for contributor in sortedContributors %}
          <div class="contributor">
            <a href="/contributor/{{ contributor.contributorName | slugify }}">{{ contributor.contributorName }}</a>
            <p>{{ contributor.position }}</p>
          </div>
        {% endfor %}
      </div>
    </main>
  </body>
</html>
