---
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Archive - Classical Chronicle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://{{ site.domain }}">
    <meta property="og:title" content="The Classical Chronicle">
    <meta property="og:image" content="https://{{site.domain}}/assets/icons/rounded128.png">
    <meta property="og:type" content="website">
    {% include font-preload.html styles="regular, bold, bold-italic, italic" %}
    <script src="/assets/js/analytics.js" defer></script>
    <meta name="description" content="The archive of Classical Chronicle articles.">
    <link rel="stylesheet" href="archive.css">
  </head>
  <body>
    {% include header.html page="archive" %}
    <div class="container">
      <main>
        <h1>The <i>Classical Chronicle</i> Archive</h1>
        <p class="description">An archive of every article the <i>Chronicle</i> has ever published.</p>
        <p class="post-ref">To view <i>Purple Post</i> articles from before the merger, <a href="https://purplepostnews.wordpress.com" target="__blank" rel="noopener">visit the old site</a>.</p>
        <div class="article-group">
        {% for article in site.articles reversed %}
          {% if article.unlisted %}{% continue %}{% endif %}
          {% include article-card.html article=article %}
        {% endfor %}
        </div>
      </main>
    </div>
  </body>
</html>

