---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bylaws - Classical Chronicle</title>
    <link rel="stylesheet" href="bylaws.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://{{ site.domain }}/bylaws">
    <script src="/assets/js/analytics.js" defer></script>
  </head>
  <body>
    {% include header.html %}
    <main>
      <h1>Mission Statement</h1>
      <p>The Classical Chronicle is an independent newspaper that covers both Classical High School news and political news that matters to the student body. The Chronicle seeks to represent the views and voices of the student body without censorship. The Chronicle hopes to represent Classical’s student body to the fullest extent possible, making it a specific goal of the paper to operate on both journalistic ethics and constitutional ideas, most importantly freedom of speech.</p>
      <h1>Admissions Process</h1>
      <p>The Chronicle hopes to cover a wide range of viewpoints and subject matter, in an effort to represent the student body to the fullest extent possible. With this in mind, we adhere to the following guidelines with regards to admitting new writers/members:</p>
      <ol>
        <li>Ensure that all new writers, photographers, or other new members have a real intention of covering the news and have the work ethic to do so. We insist that new members have the intention of putting in the work required to maintain our operation.</li>
        <li>When admitting new members, do not discriminate on the basis of race, ethnicity, gender/gender identity, sexuality, religion, or political views.</li>
        <li>Ensure that anybody aspiring to an administrative position has no intention or inclination to censor certain article material based on the subject matter or political views expressed by the writer, except in extreme circumstances.</li>
      </ol>
      <h1>Article Vetting Process</h1>
      <p>On principle, The Chronicle will not censor articles on the basis of the political opinions expressed. We hope to truly foster the range of positions and views that exists among Classical’s student body. However, exceptions exist to this rule:​​​</p>
      <ol>
        <li>Racism, sexism, homophobia, and transphobia will not be tolerated or published.</li>
        <li>If any aspect of an article is seen by the editors as blatantly offensive or derogatory, we will work with the author to make the article inoffensive.</li>
        <li>Libelous material will NOT be published.</li>
      </ol>
      <h1>Independence</h1>
      <p>One of our founding principles of the Chronicle as a paper is our independence. The Chronicle is not an official club at Classical- we prefer to remain an independent organization. This will allow us to remain uncensored and uninfluenced. Short of unseemly personal attacks against the character of specific persons or blatant falsehoods, writers at the Chronicle will enjoy full freedom to criticize or praise without repercussions.</p>
      <p>The views represented in opinion articles do not necessarily represent the views of the Classical Chronicle. As we allow all students to submit articles to be published under "Student Opinions", we realize there will be differences of opinions. Please feel free to submit responses and rebuttals to any student opinion we publish.</p>
      <h1>Reporting on Walkouts and Controversial Events</h1>
      <p>At the Chronicle, we believe in the freedoms we all enjoy as Americans. One of these freedoms is the right to peaceful assembly and protest. As such, we at the Chronicle consider it our responsibility to ensure that Classical students are aware of the the facts surrounding such events. The same goes not only for civil disobedience but also for covering the location and timing of any other school events. The Chronicle takes the responsibility to inform about walkouts and other civil disobedience not as a formal endorsement of the event, but rather as a way to make sure that Classical’s student body is informed of such things. Although we may all disagree on certain issues, Classical students have a right to know about what is happening in their community. </p>
      {% include back-to-top.html %}
    </main>
  </body>
</html>
