---
---
body {
  margin: 0;
  font-family: "Source Sans", sans-serif;
}
// {% include base.scss fontstyles="regular, bold, bold-italic, italic" %}
// {% include header.scss %}
// {% include article-cards.scss %}

.staff-group {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .member {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 0 10px;
    transition: background-color 0.1s;
    @media only screen and (max-width: 600px) {
      flex-direction: column;
      border-bottom: #613D8F 4px;
      padding-bottom: 10px;
      height: 45px;
    }
    a.name {
      font-size: 22px;
      font-weight: bold;
      text-decoration: none;
      color: #613D8F;
      font-family: "Source Sans", sans-serif;
      transition: opacity 0.05s;
      &:hover {
        opacity: 0.8;
      }
      @media only screen and (max-width: 600px) {
        font-size: 18px;
        margin-right: auto;
      }
    }
    a.email {
      font-size: 18px;
      color: black;
      text-decoration: none;
      margin-left: auto;
      &:hover {
        opacity: 0.65;
      }
      @media only screen and (max-width: 600px) {
        font-size: 14px;
      }
    }
    &:hover {
      background-color: #e2d5f3;
    }
  }
  .dep-head {
    a.name {
      color: #366bb1;
    }
    &:hover {
      background-color: #d0dff5;
    }
  }
}

.department-jumps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 25px;
  a {
    color: white;
    background-color: #613D8F;
    padding: 8px 14px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 12px;
    transition: background-color 0.05s;
    &:hover {
      background-color: #865abe;
    }
  }
}

.staff-divider {
  margin: 10px auto;
  display: flex;
  align-items: baseline;
  width: 100%;
  max-width: 800px;
  h1 {
    margin: 0px;
    margin-right: 20px;
    font-size: 38px;
    @media only screen and (max-width: 600px) {
      font-size: 32px;
    }
  }
  hr {
    border-width: 4px;
    border-style: solid;
    border-radius: 20px;
    flex-grow: 1;
    height: 0px;
    border-color: #613D8F;
    background: #613D8F;
    @media only screen and (max-width: 600px) {
      border-width: 3px;
    }
  }
}

main {
  padding: 0px 20px;
  margin-bottom: 80px;
}
h1 {
  font-size: 45px;
  text-align: center;
  color: #613D8F;
}
.description {
  font-size: 25px;
  margin-top: 0;
  text-align: center;
  .blue{
    color: #366bb1;
    font-weight: bold;
  }
  a:hover {
    color: #865abe;
  }
}
.post-ref {
  font-size: 20px;
  margin-top: 0;
  text-align: center;
  a {
    color: #613D8F;
    font-weight: bold;
  }
}
