---
lastmod: 2020-06-12
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Classical Chronicle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="The Classical Chronicle">
    <meta property="og:image" content="https://{{site.domain}}/assets/images/logo.png">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="index.css">
    <script src="/assets/js/analytics.js" defer></script>
    <meta name="description" content="The Classical Chronicle is an independent, uncensored, and student-run newspaper at Classical High School that strives to deliver high-quality and honest journalism.">
    {% include ios-app.html %}
  </head>
  <body>
    {% include header.html page="home" %}
    <main>
      <!-- <div class="banner food">
  			<div class="initial">
          <svg style="width:32px;height:32px" viewBox="-1 -1 25 25">
            <path d="M11,9H9V2H7V9H5V2H3V9C3,11.12 4.66,12.84 6.75,12.97V22H9.25V12.97C11.34,12.84 13,11.12 13,9V2H11V9M16,6V14H18.5V22H21V2C18.24,2 16,4.24 16,6Z" />
        </svg>
  				<p><span>Grab-and-go meal locations</span> are available on a <a class="goto" href="/food-sites/">map</a>.</p>
  				<a href="/food-sites/">Open Map</a>
  			</div>
  		</div> -->
      <div class="banner letter">
  			<div class="initial">
          <svg style="width:32px;height:32px" viewBox="0 0 24 24">
              <path d="M14,17H7V15H14M17,13H7V11H17M17,9H7V7H17M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z" />
          </svg>
  				<p>Read the <a class="goto" href="https://www.providenceschools.org/cms/lib/RI01900003/Centricity/Domain/4/Letter%20from%20the%20superintendent.pdf">open letter</a> by <span>Superintendent Harrison Peters</span></p>
  				<a href="https://www.providenceschools.org/cms/lib/RI01900003/Centricity/Domain/4/Letter%20from%20the%20superintendent.pdf">View Letter</a>
  			</div>
  		</div>
      <div class="articles">
        {% for article in site.articles reversed %}
          {% if article.unlisted %}{% continue %}{% endif %}
          {% assign formatedDate = article.date | date: "%B&nbsp;%-d,&nbsp;%Y" %}
          {% include article-card.html title=article.title author=article.author  image=article.image category=article.category date=formatedDate link=article.url %}
        {% endfor %}
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
