<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/article.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="og:image" content="/assets/images/{{ page.image }}">
    <meta name="og:title" content="{{ page.title }}">
    <meta name="og:type" content="article">
    <meta name="article:author" content="{{ page.author | join: ', '}}">
    <script src="/assets/js/analytics.js" defer></script>
  </head>
  <body>
    {% include header.html %}
    <main>
      {% if page.archived %}
      <div class="banner archived">
  			<div class="initial">
  				<svg style="width:32px;height:32px" viewBox="0 0 24 24">
  					<path d="M3,3H21V7H3V3M4,8H20V21H4V8M9.5,11A0.5,0.5 0 0,0 9,11.5V13H15V11.5A0.5,0.5 0 0,0 14.5,11H9.5Z" />
  				</svg>
  				<p>This article has been <span>archived</span>.</p>
  				<label for="archived-banner">See Why</label>
  			</div>
  			<input type="checkbox" id="archived-banner">
  			<p>This article doesn't have an archive reason.</p>
  		</div>
      {% endif %}
      {% assign category = page.category | downcase %}
      {% if category == "opinion" %}
      <div class="banner opinion">
  			<div class="initial">
  				<svg style="width:32px;height:32px" viewBox="0 0 24 24">
  					<path d="M12,8H4A2,2 0 0,0 2,10V14A2,2 0 0,0 4,16H5V20A1,1 0 0,0 6,21H8A1,1 0 0,0 9,20V16H12L17,20V4L12,8M21.5,12C21.5,13.71 20.54,15.26 19,16V8C20.53,8.75 21.5,10.3 21.5,12Z" />
  				</svg>
  				<p>This article is an <span>opinion</span> piece.</p>
  				<label for="opinion-banner">Learn More</label>
  			</div>
  			<input type="checkbox" id="opinion-banner">
  			<p>The views and opinions expressed in this article do not necesarrily represent those of the <i>Chronicle</i>.</p>
  		</div>
      {% endif %}
      {% if page.unlisted %}
      <div class="banner unlisted">
        <div class="initial">
          <svg style="width:32px;height:32px" viewBox="-2 -2 26 26">
              <path d="M11.83,9L15,12.16C15,12.11 15,12.05 15,12A3,3 0 0,0 12,9C11.94,9 11.89,9 11.83,9M7.53,9.8L9.08,11.35C9.03,11.56 9,11.77 9,12A3,3 0 0,0 12,15C12.22,15 12.44,14.97 12.65,14.92L14.2,16.47C13.53,16.8 12.79,17 12,17A5,5 0 0,1 7,12C7,11.21 7.2,10.47 7.53,9.8M2,4.27L4.28,6.55L4.73,7C3.08,8.3 1.78,10 1,12C2.73,16.39 7,19.5 12,19.5C13.55,19.5 15.03,19.2 16.38,18.66L16.81,19.08L19.73,22L21,20.73L3.27,3M12,7A5,5 0 0,1 17,12C17,12.64 16.87,13.26 16.64,13.82L19.57,16.75C21.07,15.5 22.27,13.86 23,12C21.27,7.61 17,4.5 12,4.5C10.6,4.5 9.26,4.75 8,5.2L10.17,7.35C10.74,7.13 11.35,7 12,7Z" />
          </svg>
          <p>This article is <span>unlisted</span>.</p>
          <label for="unlisted-banner">See Why</label>
        </div>
        <input type="checkbox" id="unlisted-banner">
        <p>{{ page.unlistedReason | default: "This article hasn't been published yet. (Default Reason)"}}</p>
      </div>
      {% endif %}
      {% if page.migrated %}
      <div class="banner migrated">
        <div class="initial">
          <svg viewBox="2 2 20 20" width="32px" height="32px">
              <path d="M4,15V9H12V4.16L19.84,12L12,19.84V15H4Z"/>
          </svg>
          <p>This article was <span>migrated</span> from the <span>Purple Post</span>.</p>
          <label for="migrated-banner">Read More</label>
        </div>
        <input type="checkbox" id="migrated-banner">
        <p>This article originally appeared in the <i>Purple Post</i> before its merge into the <i>Classical Chronicle</i>. <a href="/article/purple-post-merge">Read about it</a></p>
      </div>
      {% endif %}
      {% if page.updated %}
      <div class="banner updated">
  			<div class="initial">
          <svg style="width:32px;height:32px" viewBox="-1 -1 25 25" xmlns="http://www.w3.org/2000/svg">
            <path d="M8,12H16V14H8V12M10,20H6V4H13V9H18V12.1L20,10.1V8L14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H10V20M8,18H12.1L13,17.1V16H8V18M20.2,13C20.3,13 20.5,13.1 20.6,13.2L21.9,14.5C22.1,14.7 22.1,15.1 21.9,15.3L20.9,16.3L18.8,14.2L19.8,13.2C19.9,13.1 20,13 20.2,13M20.2,16.9L14.1,23H12V20.9L18.1,14.8L20.2,16.9Z" />
          </svg>
  				<p>This article was <span>updated</span> on {{page.updateDate}}.</p>
  				<label for="updated-banner">What changed?</label>
  			</div>
  			<input type="checkbox" id="updated-banner">
  			<p>{{page.updateMessage}}</p>
  		</div>
      {% endif %}
      <p class="category">{{ page.category }}</p>
      <h1 class="title">{{ page.title }}</h1>
      <p class="author">By {% for author in page.author %}{% if forloop.last %}<a href="/contributor/{{author | slugify}}">{{author}}</a>{% else %}<a href="/contributor/{{author | slugify}}">{{author}}</a>, {% endif %}{% endfor %}
      {% if page.graphic %}
      <span class="graphic">(graphic <a href="/contributor/{{page.graphic | slugify}}">{{ page.graphic }}</a>)</span>
      {% endif %}
      {% if page.photo %}
      <span class="graphic">(photo <a href="/contributor/{{page.photo | slugify}}">{{ page.photo }}</a>)</span>
      {% endif %}
      </p>
      <p class="date">{{ page.date | date: "%B&nbsp;%-d,&nbsp;%Y"}}</p>
      <article>
        {{ content }}
      </article>
      {% include back-to-top.html %}
    </main>
  </body>
</html>
