<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/article.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {% include header.html %}
    <main>
      <p class="category">{{ page.category }}</p>
      <h1 class="title">{{ page.title }}</h1>
      <p class="author">By {% for author in page.author %}{% if forloop.last %}<a href="/about#{{author | slugify}}">{{author}}</a>{% else %}<a href="/about#{{author | slugify}}">{{author}}</a>, {% endif %}{% endfor %}</p>
      <p class="date">{{ page.date | date: "%B&nbsp;%-d,&nbsp;%Y"}}</p>
      <article>
        {{ content }}
      </article>
      {% include back-to-top.html %}
    </main>
  </body>
</html>
